<div class="medium-12 columns homepage_container">
  <!-- image_container -->
  <div class="image_container">
    <div class="image_inner_container">
      <div class="image_content">
        <div class="text_section">
          <!-- <div class="headline">Helping small and big companies from all around the globe</div> -->
          <div class="headline">Ghana's Premier Steel & Iron Foundry</div>
          <div class="headline_info">We started as a small but dedicated company 15 years ago and we've grown rapidly ever since. Today we serve more than a 100 companies from all around the world</div>
        </div>
        <div class="clear"></div>
        <div>
          <span class="btn_link view"><%= link_to "view our services", "#" %></span>
          <span class="btn_link contact"><%= link_to "get in touch with us", "#" %></span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- text_container -->
  <div class="medium-12 columns text_content_container">

    <!-- light_section_container -->
    <div class="medium-12 columns light_section_container">
      <div class="light_inner_section">
        <div class="medium-8 columns text_left_section">
          <div class="text_left_inner_section">
            <div class="text_header">The job market of the future will consist of those jobs that robots cannot perform. Our work is pattern recognition, making sense of what you see.</div>
            <div class="text_sub_header">Gastropub fashion axe shoreditch, selvage messenger bag mixtape lumber trust fund beard. Sriracha mumblecore ennui blue bottle, cronut salvia fixie occupy chicharrones cardigan cray cliche street art fingerstache heirloom. Keytar tacos listicle, occupy plaid hashtag kombucha. Meditation deep bicycle rights fanny pack.</div>
          </div>
        </div>
        <div class="medium-4 columns text_right_section">
          <div class="text_right_inner_section">
            <div class="header">wester castings ltd</div>
            <div class="divider"></div>
            <div class="sub_text">HeadOffice P.O. Box 6581, Accra-North Ghana</div>
            <div class="sub_text">westerncastings@yahoo.com</div>
            <div class="sub_text">+233-21-22-08-17</div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- light_section_container -->
    <div class="clear"></div>
    <div class="text_divider"></div>
    <!-- light_section_container -->
    <div class="medium-12 columns light_section_container">
      <div class="light_inner_section">
        <div class="medium-12 columns info_left_section">
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">architecture</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-print" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">consulting</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">building renovation</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
        </div>
        <div class="medium-12 columns info_right_section">
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">interior design</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-sitemap" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">construction</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
          <div class="medium-4 columns section_content">
            <div class="medium-1 columns section_content_icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
            <div class="medium-11 columns section_content_text">
              <div class="section_header">concrete transport</div>
              <div class="section_info">Bushwick tilde gochujang, humblebrag readymade YOLO messenger bag small batch slow-carb.</div>
              <div class="section_link"><%= link_to "read more", "#" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- light_section_container -->
    <div class="clear"></div>
    <div class="text_divider"></div>

  </div>
  <!-- text_container -->
</div>













