<div class="medium-12 columns footer_container">
  <div class="footer_inner_container">
    <div class="medium-12 columns footer_upper">
      <div class="medium-2 columns link_column">logo</div>
      <div class="medium-2 columns link_column">
        <div class="footer_header">homepages</div>
        <ul>
          <li><%= link_to "default", "#" %></li>
          <li><%= link_to "services", "#" %></li>
          <li><%= link_to "news", "#" %></li>
          <li><%= link_to "projects", "#" %></li>
        </ul>
      </div>
      <div class="medium-2 columns link_column">
        <div class="footer_header">company</div>
        <ul>
          <li><%= link_to "about us", "#" %></li>
          <li><%= link_to "core value", "#" %></li>
          <li><%= link_to "company history", "#" %></li>
          <li><%= link_to "leadership", "#" %></li>
          <li><%= link_to "awards", "#" %></li>
          <li><%= link_to "partners", "#" %></li>
          <li><%= link_to "careers", "#" %></li>
        </ul>
      </div>
      <div class="medium-2 columns link_column">
        <div class="footer_header">services</div>
        <ul>
          <li><%= link_to "architecture", "#" %></li>
          <li><%= link_to "consulting", "#" %></li>
          <li><%= link_to "building renovations", "#" %></li>
          <li><%= link_to "interior designs", "#" %></li>
          <li><%= link_to "constructions", "#" %></li>
          <li><%= link_to "concrete transport", "#" %></li>
        </ul>
      </div>
      <div class="medium-2 columns link_column">
        <div class="footer_header">shop</div>
        <ul>
          <li><%= link_to "shop page", "#" %></li>
          <li><%= link_to "cart", "#" %></li>
          <li><%= link_to "checkout", "#" %></li>
        </ul>
      </div>
      <div class="medium-2 columns link_column">
        <div class="footer_header">contact</div>
        <div class="footer_address">
          <div>51 Brandywine Drive</div>
          <div>Ridgecrest, CA 93555</div>
          <div>+1-202-555-0170</div>
          <div><%= link_to "info@cast.com", "#" %></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="footer_lower">
      <ul>
        <li><%= link_to "privacy policy", "#" %></li>
        <li><%= link_to "terms and conditions", "#" %></li>
        <li><%= link_to "copyright infringement policy", "#" %></li>
        <li><%= link_to "code of conduct", "#" %></li>
      </ul>
      <div class="clear"></div>
      <div class="copyright">Copyright © 2017 Western Castings Ltd. All rights reserved</div>
    </div>
  </div>
</div>