<div class="medium-12 columns header_container">
  <div class="header_inner_container">
    <!-- upper_header -->
    <div class="upper_header">
      <div class="upper_inner_header">
        <span class="left_content">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
         
          <span class="address">HeadOffice P.O. Box 6581, Accra-North Ghana <%= link_to "map", "https://www.google.co.uk/maps/place/Dadeban+Loop,+Accra,+Ghana/@5.590692,-0.2288477,17z/data=!3m1!4b1!4m5!3m4!1s0xfdf9989a6a8469f:0x20adcc15022e5e76!8m2!3d5.590692!4d-0.226659", target:"_blank" %></span>
          <span class="divider"> | </span>
          <span class="address second_address">Tema Factory Plot No: F, Kpone Industrial Area, Tema, Ghana <%# link_to "map", "" %></span>
          <!-- <span class="address">Factory P.O. Box 61, Takoradi Ghana <%# link_to "map", "" %>.</span> -->
        </span>
        <span class="right_content">
          <ul>
            <!-- responsive menu icon -->
            <span class="rsponsive_menu_icon_right_section">
              <li class="icon_menu">
                <%= link_to "#" do %>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                <% end %>
              </li>
            </span>
            <!-- responsive menu icon -->
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </span>
      </div>
      <!-- responsive header content -->
      <div class="responsive_header_content">
        <ul style="margin-bottom: 0px;">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>home</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>company</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>services</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>projects</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>shop</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>news</span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span>contact</span>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- responsive header content -->
    </div>


    <div class="clear"></div>

    <!-- lower_header -->
    <div class="lower_header">
      <div class="lower_inner_header">
        <span class="left_content">
          <%= link_to "#" do %>
            <span class="logo"><%= image_tag "img_westcastlogo.png" %></span>
            <span class="logotext">WESTERN CASTINGS LTD</span>
          <% end %>
        </span>
        <span class="right_content">
          <ul>
            <li>
              <div>M - F: 10:00 - 18:00</div>
              <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> Office Hours</div>
            </li>
            <li>
              <div>westerncastings@yahoo.com</div>
              <div class="info"><i class="fa fa-envelope" aria-hidden="true"></i> Office Email</div>
            </li>
            <li>
              <div>+233-21-22-08-17</div>
              <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> Contact Tel</div>
            </li>
          </ul>
        </span>
      </div>
      <div class="lower_inner_header_bottom">
        <div class="sub_content">
          <ul>
            <li style="margin-left:15px;"><%= link_to "home", "#" %></li>
            <li><%= link_to "company", "#" %></li>
            <li><%= link_to "services", "#" %></li>
            <li><%= link_to "projects", "#" %></li>
            <li><%= link_to "shop", "#" %></li>
            <li><%= link_to "news", "#" %></li>
            <li><%= link_to "contact", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>