<div class="medium-12 columns header_container">
  <div class="header_inner_container">
    <!-- upper_header -->
    <div class="upper_header">
      <div class="upper_inner_header">
        <span class="left_content">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span class="address">51 Brandywine Drive, Ridgecrest, CA 93555. Locate us on the <%= link_to "map", "#" %>.</span>
        </span>
        <span class="right_content">
          <ul>
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </span>
      </div>
    </div>

    <div class="clear"></div>

    <!-- lower_header -->
    <div class="lower_header">
      <div class="lower_inner_header">
        <span class="left_content"><%= link_to "WESTERN CASTINGS LTD", "#" %></span>
        <span class="right_content">
          <ul>
            <li>
              <div>M - F: 10:00 - 18:00</div>
              <div class="info"><i class="fa fa-clock-o" aria-hidden="true"></i> Office Hours</div>
            </li>
            <li>
              <div>office@cast.com</div>
              <div class="info"><i class="fa fa-envelope" aria-hidden="true"></i> Office Email</div>
            </li>
            <li>
              <div>+1-202-555-0170</div>
              <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> Toll Free Call</div>
            </li>
          </ul>
        </span>
      </div>
      <div class="lower_inner_header_bottom">
        <div class="sub_content">
          <ul>
            <li style="margin-left:15px;"><%= link_to "home", "#" %></li>
            <li><%= link_to "company", "#" %></li>
            <li><%= link_to "services", "#" %></li>
            <li><%= link_to "projects", "#" %></li>
            <li><%= link_to "shop", "#" %></li>
            <li><%= link_to "news", "#" %></li>
            <li><%= link_to "contact", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>